.title-p1{
    font-weight: 800;
}
.title-p2{
    font-weight: 100;
}
.brand-login{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
.fa, .fas {
    font-weight: 900;
    margin-right: 10px;
}
/*style input:file*/
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.img-nivel{
    margin: auto;
    width: 200px !important;
}

.img-nivel-xs{
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.red ul{
    padding-top: 20px;
    position: relative;
    transition: all .5s;
    -webkit-transition: all .5s;
}
.rede li{
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0;
    transition: all .5s;
    -webkit-transition: all .5s;
}
.rede-div{
    width: 70px !important;
    height: 75px !important;
    padding-top: 15px;
}
.rede li a {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all .5s;
    -webkit-transition: all .5s;
}

.rede ul ul::before {
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
}

.rede li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}
.rede li::after, .rede li::before {
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
}

.rede li::after, .rede li::before, .rede ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    height: 20px;
}

.header-level{
    font-weight: bold;
    text-transform: uppercase;
}
.img-pai{
    width: 40.5px;
    height: 40.5px;
    margin-bottom: 3px;
    border-radius: 20px;
}
.img-filho{
    width: 24px; height: 24px; margin-bottom: 3px;
}
/*print table*/
@media print {
    body * {
      visibility: hidden;
    }

    #printable, #printable * {
      visibility: visible;
    }

    #printable {
      position: fixed;
      left: 0;
      top: 0;
      height: 100%!important;
    }

    .fundo-verde{
        background-color: #d8d8d8!important;
        padding: 5px;
    }

  }