.title-p1{
    font-weight: 800;
}
.title-p2{
    font-weight: 100;
}
.brand-login{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
.fa, .fas {
    font-weight: 900;
    margin-right: 10px;
}
/*style input:file*/
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.img-nivel{
    margin: auto;
    width: 200px !important;
}
.opaco{
    opacity: 0.1;
}

.img-nivel-xs{
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.header-level{
    font-weight: bold;
    text-transform: uppercase;
}
.img-pai{
    width: 40.5px;
    height: 40.5px;
    margin-bottom: 3px;
    border-radius: 20px;
}
.img-filho{
    width: 24px; height: 24px; margin-bottom: 3px;
}
.alert-ativacao{
    background-color: #283e59!important;
    color: #FFF!important;
}
.alert-ativacao hr{
    border-top: 1px solid #141f2d;
}
.img-user-menu{
    width: 80px;
    height: 80px;
    margin: auto;
    border-radius: 50px;
    padding: 0px;
    border: 6px solid #dbdbdb;
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

img#load{
    width: 50px;
}
#text-load {
    display: none;
    text-align: center;
}
/*print table*/
@media print {
    body * {
      visibility: hidden;
    }

    #printable, #printable * {
      visibility: visible;
    }

    #printable {
      position: fixed;
      left: 0;
      top: 0;
      height: 100%!important;
    }

    .fundo-verde{
        background-color: #d8d8d8!important;
        padding: 5px;
    }

  }